@charset "UTF-8";
/*
    Made by: @kanalumaddela
*/
html,body {
    min-width: 100%;
    min-height: 100%;
}
body {
    color: #fff;
    background: #121212;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
header, main, footer {
    padding-left: 200px;
}
@media only screen and (max-width: 600px) {
    header, main, footer {
        padding-left: 0;
      }
}
p {
    margin: 0;
}

/* Animation / Color Helpers */
.plz-hide {
    display: none;
}
.transition {
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    -o-transition: all 0.15s linear;
    transition: all 0.15s linear;
}
.gradient-background {
    background-size: 400% 400%;
    background: -webkit-linear-gradient(135deg, #03a9f4, #b5468a);
    background: -moz-linear-gradient(135deg, #03a9f4, #b5468a);
    background: -o-linear-gradient(135deg, #03a9f4, #b5468a);
    background: linear-gradient(135deg, #03a9f4, #b5468a);
}

/* Login */
#loginbox {
    width: 40%;
    min-width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 10px 0;
}
#loginbox .divider {
    height: 2px;
    background-color: rgba(0, 0, 0, 0.45);
    margin-bottom: 1.168rem;
}

/* Navigation */
.side-nav {
    width: 200px;
    background-color: rgba(0,0,0,0.5);
}
.side-nav::-webkit-scrollbar {
    width: 0.35rem;
}
.side-nav::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.35);
}
.side-nav .userView {
    margin-bottom: 0;
}
.side-nav .userView .circle {
    margin: auto;
}
.side-nav .divider {
    background-color: rgba(255, 255, 255, 0.35);
}
.side-nav .subheader {
    color: rgba(255, 255, 255, 0.9);
    font-weight: 500;
}
.side-nav li>a {
    color: rgba(255, 255, 255, 0.65);
    font-weight: 300;
    -webkit-transition: background-color 0.15s linear;
    -moz-transition: background-color 0.15s linear;
    -o-transition: background-color 0.15s linear;
    transition: background-color 0.15s linear;
}
#sidenav-overlay {
    background-color: rgba(0, 0, 0, 0.7);
}
@media only screen and (max-width: 600px) {
    nav {
        background-color: rgba(0, 0, 0, 0.75);
    }
    .side-nav {
        background-color: rgba(0,0,0,0.75);
    }
    #sideNav {
        -webkit-animation: none !important;
        -moz-animation: none !important;
        -o-animation: none !important;
        -ms-animation: none !important;
        animation: none !important;
    }
}
@media only screen and (min-width: 601px) {
    main, #sideNav {
        -webkit-animation-delay: 0.5s;
        -moz-animation-delay: 0.5s;
        -o-animation-delay: 0.5s;
        animation-delay: 0.5s;
    }
    .side-nav {
        -webkit-transform: translateX(0%) !important;
        transform: translateX(0%) !important;
    }
}
@media only screen and (max-width: 992px) {
    .side-nav {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
    .side-nav .userView {
        padding: 32px 32px 0;
    }
}

/* Misc MaterializeCSS */
.card {
    background-color: rgba(0,0,0,0.5);
}
.card .card-action {
    background-color: transparent;
}
.card-action > .input-field > input {
    margin-right: 3%;
}
.btn, .btn-large {
    background-color: rgba(0, 0, 0, 0.35);
    margin-bottom: 10px;
}
.btn:hover, .btn-large:hover, .btn:focus, .btn-large:focus {
    background-color: rgba(0, 0, 0, 0.5);
}
.dropdown-content {
    background-color: rgba(0,0,0,0.9);
    -webkit-transition: background-color: 0.15s linear;
    -moz-transition: background-color: 0.15s linear;
    -o-transition: background-color: 0.15s linear;
    transition: background-color: 0.15s linear;
}
.dropdown-content li:hover, .dropdown-content li.active, .dropdown-content li.selected {
    background-color: rgba(0,0,0,0.95);
}
.dropdown-content li.active.selected {
    background-color: transparent;
}
.dropdown-content li>span {
    color: #fff;
}
.modal {
    background-color: #1a1a1a;
}
.modal .modal-footer {
    background-color: transparent;
}
.modal .modal-footer .btn {
    margin-right: 10px;
}
#materialbox-overlay {
    background-color: rgba(0,0,0,0.85);
}
.materialbox-caption {
    margin-top: 10px;
}
table.bordered>thead>tr, table.bordered>tbody>tr {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

/* Material Design Icons */
.mdi {
    font-size: 24px;
}

/* Logs */
pre#logs {
    background: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 3px;
}